<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GarageSoftwareConnectionString"
			 connectionString="
			 server=GAMING-LAPTOP\SQLEXPRESS;
			 Database=GarageSoftwareDB;
			 Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>

<!--
GAS-ANALYSER\SQLEXPRESS
DESKTOP-RLDTFHE\SQLEXPRESS
GAMING-LAPTOP\SQLEXPRESS
-->